.icon-bar {
  position: fixed;
  right: 0;
  top: 180px;
}

.icon-bar img {
  display: block;
  text-align: center;
  padding: 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  width: 20px;
  background: #ededed;
  cursor: pointer;
}

.icon-bar img:hover {
  background: #bbbdc0;
}

@media (max-width: 650px) {
  .icon-bar {display: none;}
}